@import '../../../theme/theme.scss';
.list{
    min-height: 100vh;
    padding: 10px;
    background-color: $bgColor;
    .item{
        position: relative;
        background-color: #fff;
        padding: 25px 20px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 1px 6px rgb(73 195 225 / 10%);
        .num{
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 10px;
            border-radius: 0 10px 10px 0;
            background-color: $themeColor;
            color: #fff;
            line-height: 16px;
        }
        .title{
            font-size: 32rpx;
        }
        .item-info{
            padding-top: 20rpx;
            font-size: 24rpx;
            overflow: hidden;
            color: #aaa;
            .time{
                float: left;
            }
            .view,.reply{
                float: right;
            }
            .view{
                margin-right: 20rpx;
            }
            image {
                width: 36rpx;
                height: 36rpx;
                vertical-align: middle;
            }
            text{
                vertical-align: middle;
            }
        }
    }
}
.noData{
    background-color: #f3f3f3;
    text-align: center;
}